#Header for importing libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

#Working with python data types

In [37]:
## Code 3 different ways of reaching a result of 100 by adding or subtracting numeric variables

x=200
y=100
print(x-y)

100

In [39]:
(2*x)-(3*y)

100

In [41]:
x=x-100
print(x)

100

In [43]:
##Code 2 floating-point variables and divide them by each other.

a=2.1
b=1.1
print(x/y)

1.0

In [45]:
##Construct a short word made of separate strings (youâ€™ll need to concatenate some strings!).

a='pine'
b='apple'
a+b

'pineapple'

In [47]:
##Construct 2 short sentences made of separate strings.

c='They was a dog. '
d='His name was Fred. '
c+d

'They was a dog. His name was Fred. '