## 4.6 Combining & Exporting Data

In [11]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [31]:
##Importing path, and csv files of products

path= r'/Users/erictam/Downloads/CareerFoundry Program/Data Immersion Achievement 4/Instacart Basket Analysis'

# To import df_ords_prior

df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '4.6 orders_products_prior.csv'), index_col=False)

In [33]:
## 4. Check the dimensions of the imported dataframe.
##Shape of the data frame
## (32434489 rows, 4 columns)
df_ords_prior.shape

(32434489, 4)

In [41]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

## Merging df_ords_prior with df_ords

In [46]:
## Importing df_ords data frame from Exercise 4.5 ("4.5 orders_checked".csv")

df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', '4.5 orders_checked.csv'), index_col=False)

df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_time_hour_of_day,days_since_prior_order
0,0,0,2539329,1,1,2,8,11.114836
1,1,1,2398795,1,2,3,7,15.000000
2,2,2,473747,1,3,3,12,21.000000
3,3,3,2254736,1,4,4,7,29.000000
4,4,4,431534,1,5,4,15,28.000000

In [48]:
## Checking shape of the df_ords data frame
## (3421083 rows, 8 columns)
df_ords.shape

(3421083, 8)

In [52]:
## Will use the merge() function to combine the new dataframe based on 'order_id'
## df_merged_large = df_ords merged with df_ords_prior


df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_time_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,11.114836,196,1,0,both
1,0,0,2539329,1,1,2,8,11.114836,14084,2,0,both
2,0,0,2539329,1,1,2,8,11.114836,12427,3,0,both
3,0,0,2539329,1,1,2,8,11.114836,26088,4,0,both
4,0,0,2539329,1,1,2,8,11.114836,26405,5,0,both

In [58]:
## Checking full match of merge function
## value_counts() provides a frequency count to see if 100% of 'both's" or if there are any left/rights


df_merged_large['_merge'].value_counts()

## There are 0 left or right_only's so we can conclude a 100% match. HOWEVER, it is important to understand the nature of the joins used. If we used am "outer" join, it will show a left_only value of 206209. This indicates there are some rows of data that did not have a match. Inner join allowed only those that had a match to properly merge

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

## Exporting Data in Pickle Format

In [62]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', '4.6 orders_products_combined.pkl'))